<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<http pattern="/resources" security="none" />

	<http auto-config="true" use-expressions="true">

		<!-- Auth Module -->
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/denied" access="hasRole('ROLE_USER')" />
		
		<!-- only for testing -->
		<intercept-url pattern="/demo" access="permitAll" />


		<!-- My Account Module -->
		<!-- This part should be placed ahead of the user module -->
		<intercept-url pattern="/users/edit_my_account" access="hasRole('ROLE_USER')" />


		<!-- Image Module 
		<intercept-url pattern="/image/*" access="hasRole('ROLE_USER')" />-->
		

		<!-- User Module 
		<intercept-url pattern="/users" access="hasRole('ROLE_USER_MANAGER')" />
		<intercept-url pattern="/users/*" access="hasRole('ROLE_USER_MANAGER')" />
		<intercept-url pattern="/user/*" access="hasRole('ROLE_USER_MANAGER')" />
		<intercept-url pattern="/ajax/users/*" access="hasRole('ROLE_USER_MANAGER')" />
		<intercept-url pattern="/rest/users/*" access="hasRole('ROLE_USER_MANAGER')" />-->


		<!-- Group Module 
		<intercept-url pattern="/groups" access="hasRole('ROLE_USER_GROUP_MANAGER')" />
		<intercept-url pattern="/groups/*" access="hasRole('ROLE_USER_GROUP_MANAGER')" />
		<intercept-url pattern="/group/*" access="hasRole('ROLE_USER_GROUP_MANAGER')" />
		<intercept-url pattern="/ajax/groups/*" access="hasRole('ROLE_USER_GROUP_MANAGER')" />
		<intercept-url pattern="/rest/groups/*" access="hasRole('ROLE_USER_GROUP_MANAGER')" />-->
		
		<!-- Site Index -->
		<intercept-url pattern="/" access="permitAll" />


		<form-login login-page="/login" authentication-failure-url="/login/failure"
			default-target-url="/login/success"/>

		<access-denied-handler error-page="/denied" />

		<logout invalidate-session="true" logout-success-url="/" logout-url="/logout" />

	<session-management invalid-session-url="/">
		<concurrency-control max-sessions="1" error-if-maximum-exceeded="false"
			expired-url="/" />
	</session-management>
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsServiceImpl">
			<!-- <password-encoder hash="md5" /> -->
		</authentication-provider>
	</authentication-manager>
</beans:beans>